{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "block-opening-brace-space-before": "always-single-line",
    "indentation": "tab",
    "selector-pseudo-element-colon-notation": "single"
  }
}
